* {
    box-sizing: border-box; 
}

html {
    background: repeating-linear-gradient(45deg, #01BAF0,#01BAF0 80px, #FFC520 80px, #FFC520 160px);
    max-width: 100%;
}

body {
    font-size: 112.5%;
    margin: 0.75em 0.75em 0 0.75em;
    font-family: 'Roboto', sans-serif;
    /* background: repeating-linear-gradient(45deg, #01BAF0,#01BAF0 80px, #FFC520 80px, #FFC520 160px); */
    max-width: 1000px;
}

h1,h2,h3 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 0 0 0.5em 0;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
     margin-bottom: 0;
}

a {
    color:black;
}

.portrait {
    margin: auto;
    width: 50%;
    margin-bottom: 1em;
}

img {
    width:100%;
}

.header-contact {
    display:none;
}


.navlink {
    margin-right: 1.5em;
}

.card {
    border: 1px solid  black;
    border-radius: 5px;
    padding: 0.75em;
    margin-bottom: 1em;
    background-color: white;
}

.card-shadow {
    box-shadow: 10px 5px black;
}

.badge-list {
    padding: 0 0 0 0;
    display:flex;
    overflow: scroll;
    justify-content: flex-start;
    margin-right: -0.75em;
}

/* Frage: Wie kriege ich es hin, dass beim letzten Element noch ein Abstand nach rechts ist, wenn man zum Rand gescrollt hat?*/


.badge-item {
    list-style: none;
    margin-right: 1em;
   white-space: nowrap;
}

.profile-list {
    display:flex;
    overflow: scroll;
    margin-right: -0.75em;
}

.contact-link {
    line-height: 1em;
}

.logo {
    width:10em;
}

.language-item {
    list-style: none;
}

.timeline {
    display:grid;
    list-style: none;
    padding:0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, auto);
    background: linear-gradient(#000, #000) no-repeat center/4px 100%;
}
.timeline li {
    margin: 0.75em 0 0.75em 0;
    border: 1px solid  black;
    border-radius: 5px;
    padding: 0.75em;
}

.align-left {
    grid-column: 1/-2;
    grid-row:  span 2;
}

.align-right {
    text-align: right;
    grid-column: 2/-1;
    grid-row:  span 2;
}

.site-footer {
    background-color: white;
    border-top: 1px solid black;
    margin: 1em -1em 0px -1em;
    padding: 1em;
}

@media screen and (min-width: 580px){

    .intro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .fill-columns {
        grid-column: 1/-1;
        overflow:scroll;
        margin-right: -1em;
    }
    .portrait {
        /* width: 100%;  */
        margin:auto;
    }

    .contact{
        display: flex;
        flex-wrap: nowrap;
    }

    .contact-link {
        min-width: 40%;
    }

    .profile-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        flex-wrap: wrap;
        overflow: auto;
        margin-left: 1em;
        margin-top: 1em;
    } 

    .logo {
        width: auto;
        height: 1.5em;
    }  
}

@media screen and (min-width:700px){
    .align-left {
        grid-column: 2/-3;
        grid-row:  span 2;
    }
    
    .align-right {
        text-align: right;
        grid-column: 3/-2;
        grid-row:  span 2;
    }
    .header-contact {
        font-size:1.25em;
        display: flex;
        text-align: right;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width:30%;
        margin-left:auto;
        margin-top:-2.25em;
        row-gap: 1em;
        float: right;
    }

    nav {
        display: inline;
    }
}

@media screen and (min-width:900px){
    body {
    margin: 0.75em auto 0 auto;
    font-size: 125%;
    }

    .badge-list {
        flex-wrap: wrap;
        overflow: hidden;
    }
}